
# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Only used for test, can be given through pytest cli
S3_BUCKET_NAME=

# Sample Tracker
SAMPLE_TRACKER_TOKEN=
SAMPLE_TRACKER_URL=

# HGSCCL WEBSERVICE API
HGSCCL_CVL_API_TOKEN=
HGSCCL_CVL_API_URL=

# GCP
GCP_CREDENTIALS_PATH=
## Only used for running test, can be given through cli
GCP_BUCKET_NAME=
